.map {

	iframe{
		width: 100%;
		max-width: 100%;
		min-height: 300px;
	}
		
	.address {
		margin-top: 20px;
	}

	p {
		margin: 0px;
	}
}

.btn-success {
	text-align: right;
	max-width: 250px;

	.glyphicon {
		float: left;
		margin-right: 10px;
	}
}

// TODO: shift to global?
.img-bg {
	margin-top: 0px;
	background-image: url('http://degy28l8twq8c.cloudfront.net/brownstones.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&.landlord {
		background-image: url('../img/landlord-bg.jpg');

		p  {
			font-size: 1.25em;
			line-height: 1.5em;
		}
	}
}

.mailing-list {
	@extend .col-sm-6;
	@include shift($n-columns: 3);

	@media (max-width: $screen-sm) {
		margin: auto;
	}
}