.team-container {

  @extend .row;

  .team-member {
    @extend .col-sm-6;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px;

    // nice, pretty rows
    &:nth-child(2n+1) {
      clear: both;
    }

    @media (min-width: $screen-sm-min) {
      padding-left: 45px;
      padding-right: 45px;
    }

    & > img {
      display: block;
      width: 50%;
      height: auto;

      border-radius: 100%;
      margin: 0 auto 30px;
    }

    & > h4:first-of-type {
      margin-bottom: 5px;
    }

    & > p {
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
      line-height: 1.6em;
    }
  }
}

.contributor {
	margin: 0px auto 0px;
	text-align: center;
	font-weight: 600;
}

// Depending on how often used: move to global css?
.social {
	margin-bottom: 20px;

	.btn {
		margin: 0px 16px;
		border: none;
		border-radius: 50%;
		background: none;
		padding: 0px;
		width: auto;

		&:first-child {
			margin: 0px 16px 0px 0px;
		}

		&:last-child {
			margin: 0px 0px 0px 16px;
		}

		&:active,
		&:focus {
			outline: none;
			border: none;
		}	

		i {

			&:before {
				content: "\00a0";
				padding: 10px; 
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	// svg social icons TODO: move to _core.scss
	.glyphicon-twitter {
		&:before {
			background-image: url('../img/twitter-blue.svg');	
		}
	}
	.glyphicon-linkedin {
		&:before {
			background-image: url('../img/linkedin-blue.svg');	
		}
	}
	.glyphicon-facebook {
		&:before {
			background-image: url('../img/facebook-blue.svg');	
		}
	}
	.glyphicon-github {
		&:before {
			background-image: url('../img/github_icon.svg');	
		}
	}

	// Base 64 social icons
	.glyphicon-twitter-white {
		&:before {
			background-image: url('../img/twitter-white.svg');	
		}
	}
	.glyphicon-linkedin-white {
		&:before {
			background-image: url('../img/linkedin-white.svg');	
		}
	}
	.glyphicon-facebook-white {
		&:before {
			background-image: url('../img/facebook-white.svg');	
		}
	}
	.glyphicon-github-white {
		&:before {
			background-image: url('../img/github_icon-white.svg');	
		}
	}
}

// logos
.logos {

	.logo {
		margin-top: 50px;
		height: 150px;
		@extend .col-sm-12;
		@extend .col-xs-12;
		@extend .col-md-3;

		&.three {
			@include shift($n-columns: 1.333);
			
			@media (max-width: $screen-sm-max) {
				@include shift($n-columns: 0);
			}
		}
		
		.background-image {
			position: relative;
			top: 0;
			left: 0;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}
	}
	
}

// Whelp, this will most likely ruin everything...
.alt.center {
	margin-bottom: 0px;
}

.contentful {
	margin: 40px 0;

	.container {
		> div {
			@extend .col-md-6;
		}
	}
}

.press {
	h4 {
		margin: 0px 0 5px 0;
	}

	.press-item {
		margin: 30px 0;
		position: relative;

		@extend .clearfix;

		&:last-child {
			.content {
				border-bottom: none;
			}
		}
	}

	img {

		@extend .col-md-3;
		@include vertical-align($position: absolute);
		@include shift($n-columns: 1);

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}

	.content {
		// right: 0%;
		padding: 10px 0 30px 0;
		border-bottom: darken($justfix-grey-light, 10) 1px solid;
		
		@extend .col-md-7;
		@extend .col-sm-12;

		@media (max-width: $screen-sm-max) {
			border-bottom: none;
		}
	}
}
