
<article contentful-entry="'content_type=aboutPage'">
  <header class="container">
    <h1 class="center">Meet Our Team</h1>
  </header>
  <section>
    <div class="container">
      <div class="team-container">
        <div class="team-member" ng-repeat="member in $contentfulEntry.fields.teamMembers">
          <img ng-src="{{ member.fields.photo.fields.file.url }}" alt="{{member.fields.name}}" />
          <h4>{{member.fields.name}}</h4>
          <h4>{{member.fields.title}}</h4>
          <div class="social">
          	<span ng-repeat="link in member.fields.links" class="btn btn-primary">
          		<i class="glyphicon" ng-class="'glyphicon-' + link.type"></i>
          	</span>
          </div>
          <p>{{member.fields.description}}</p>
        </div>
      </div>
    </div>
  </section>
	
	<section>
		<div class="container">
			<h3 class="center">Many thanks to our other contributors!</h3>
			<p class="contributor" ng-repeat="contributor in $contentfulEntry.fields.contributors">{{contributor.fields.name}}</p>
		</div>
	</section>

  <section class="alt">
    <div class="container">
      <h3>Milestones</h3>
      <p ng-bind-html="$contentfulEntry.fields.milestones | markdown"></p>
    </div>
    <div class="logos container">
			<span 
				class="logo" 
				ng-repeat="sponsor in $contentfulEntry.fields.sponsorOrganizations track by $index">
				<div 
					class="background-image" 
					ng-style="{'background-image': 'url(' + sponsor.fields.logo.fields.file.url + ')'}">
				</div>
			</span>
    </div>
  </section>
  <section class="center">
    <h2>Our Partners</h2>
    <div class="logos container">
			<span 
				class="logo partners" 
				ng-repeat="partner in $contentfulEntry.fields.partnerOrganizations track by $index"
				ng-class="{'three': $index % 7 == 0}">
				<div class="background-image" 
					ng-style="{'background-image': 'url(' + partner.fields.logo.fields.file.url + ')'}">
				</div>
			</span>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="press">
    <h2 class="center">Read more about us!</h2>
  	<div class="container">
			
			<div
				class="press-item"
				ng-repeat="pressItem in $contentfulEntry.fields.pressItems">
				<img ng-src="{{pressItem.fields.logo.fields.file.url}}" />
  			<div class="content pull-right">
					<h4>{{pressItem.fields.title}}</h4>
					<p><a ng-href="pressItem.fields.hyperlink">{{pressItem.fields.linkText}}</a></p>
				</div>
			</div>

		</div>
  </section>
  <section class="alt center">
  	<div class="container" ng-bind-html="$contentfulEntry.fields.contactUsCopyText | markdown">
		</div>
		<br/>
		<br/>
  	<a ui-sref="contact" class="btn btn-primary btn-block">CONTACT US</a>
  </section>


	<section class="center contentful">
		<div class="container">

			<div class="text">
				<p>Special thanks to our friends at Contentful for providing us with free contentful management services because of our 501c3 status!</p>
			</div>
			
			<div class="image">
				<a target="_blank" href="http://contentful.com">
					<img src="/img/light.png" />
				</a>
			</div>
		</div>
	</section>

  <section class="banner">
  	<a ui-sref="mission">
			<div class="container">
				<div class="pull-left">
					<h4>Want to know more?</h4>
					<h2 class="white">Read Our Mission.</h2>
				</div>
				<div class="pull-right">
					<span class="glyphicon glyphicon-chevron-right white"></span>
				</div>
			</div>
		</a>
  </section>

</article>
