
<article contentful-entry="'content_type=aboutPage'">
  <section>
    <h1 class="center">Meet Our Team</h1>
  </section>
  <section>
    <div class="container">
      <div class="team-container">
        <div class="team-member" ng-repeat="member in $contentfulEntry.fields.teamMembers">
          <img ng-src="{{ member.fields.photo.fields.file.url }}" alt="{{member.fields.name}}" />
          <h4>{{member.fields.name}}</h4>
          <h4>{{member.fields.title}}</h4>
          <div class="social">
          	<span ng-repeat="link in member.fields.links" class="btn btn-primary">
          		<i class="glyphicon" ng-class="'glyphicon-' + link.type"></i>
          	</span>
          </div>
          <p>{{member.fields.description}}</p>
        </div>
      </div>
      <!-- <div class="contributors-container text-center" contentful-entries="'content_type=otherContributors'">
        <h3>Many thanks to our other contributors!</h3>
        <div ng-repeat="contributor in $contentfulEntries.items">
          <a ng-if="contributor.fields.link" ng-href="{{contributor.fields.link}}" target="_blank"><h4>{{contributor.fields.name}}</h4></a>
          <h4 ng-if="!contributor.fields.link">{{contributor.fields.name}}</h4>
        </div>
      </div> -->
    </div>
  </section>
  <section class="alt">
    <div class="container">
      <h3>Milestones</h3>
      <p ng-bind-html="$contentfulEntry.fields.milestones | markdown"></p>
    </div>
    <div class="logos container">
			<span 
				class="logo" 
				ng-repeat="sponsor in $contentfulEntry.fields.sponsorOrganizations track by $index">
				<div class="background-image" 
					ng-style="{'background-image': 'url(' + sponsor.fields.logo.fields.file.url + ')'}">
				</div>
			</span>
    </div>
  </section>
  <section class="center">
    <h2>Our Partners</h2>
    <div class="logos container">
			<span 
				class="logo partners" 
				ng-repeat="partner in $contentfulEntry.fields.partnerOrganizations track by $index">
				<div class="background-image" 
					ng-style="{'background-image': 'url(' + partner.fields.logo.fields.file.url + ')'}">
				</div>
			</span>
    </div>
  </section>
  <section class="alt center">
  	<div class="container" ng-bind-html="$contentfulEntry.fields.contactUsCopyText | markdown">
		</div>
		<br/>
  	<a ui-sref="contact" class="btn btn-primary btn-block">Contact Us!</a>
  </section>

  <section class="banner">
  	<a ui-sref="mission">
			<div class="container">
				<div class="pull-left">
					<h4>Want to know more?</h4>
					<h3 class="white">Read Our Mission.</h3>
				</div>
				<div class="pull-right">
					<span class="glyphicon glyphicon-chevron-right white"></span>
				</div>
			</div>
		</a>
  </section>

</article>
