{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
  	"angular/controller-as": 0
	},
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "cartodb": true,
    "L": true
  }
}
