.product-and-services {
	text-align: center;

	.hero {
		position: relative;
		margin: 0 auto;
		background: $justfix-grey-light;
		height: 100%;
		min-height: 100vh;

		.container {
			position: absolute;
			margin-top: 70px;
			padding-bottom: 70px;
			width: 100%;
			max-width: 100%;

			h1 {
				max-width: 900px;
				margin-bottom: 2em;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 10px;
					font-size: 1.5em;
				}
			}

			p:not(.lead) {
				max-width: 900px;
			}

			@media (max-width: $screen-xs-max) {
				position: relative;
				top: 0;
				margin-top: 0px;
				padding-top: 70px;
				padding-bottom: 0px;

				@include transform(translateY(0));
			}

		}
	}

	.flow-icon {
		margin: auto;
		background: url('/img/NewFlow-horizontal.svg') no-repeat center center;
		max-width: 800px;
		min-height: 175px;

		@media (max-width: $screen-xs-max) {
			background: url('/img/NewFlow-grid.svg') no-repeat center center;
			min-height: 200px;
		}
	}

	.learn-more {
		position: absolute;
		bottom: 50px;
		color: $justfix-grey-dark;
		text-shadow: none;

		@media (max-height: 700px) {
			bottom: 10px;
		}

		@media (max-width: $screen-xs-max) {
			margin-top: 30px;
			position: relative;
			bottom: 0px;
		}
	}
}

.tutorial {
	padding: 50px 0;
}

// carousel
.carousel-inner {
	position: relative;
	margin: auto;
	width: 90%;

	@media (max-width: $screen-sm-max) {
		width: 100%;
	}

	.text {
		left: 0;
		margin-top: 42px;
		text-align: left;

		@extend .col-md-6;
		@include shift($n-columns: 1);

		h3 {
			display: block;
			margin: 0.5em 0;
			font-size: 22px;
		}

		@media (min-width: $screen-lg) {
			margin-top: 62px;
		}

		@media (max-width: $screen-sm-max) {
			display: block;
			margin: 0 0 0 0;
			background: #fff;
			padding: 25px 0 0 0;
			text-align: center;
		}
	}

	.img-wrapper {
		@media(max-width: $screen-sm-max) {
			max-height: 60vh;
		} 
	}

	img {
		float: right;
		
		@include shift($n-columns: 1);
		@extend .col-md-3;
		@extend .col-sm-6;

		@media (max-width: $screen-sm-max) {
			float: none;
			right: auto;
			margin: auto;
			max-width: 100%;
		}
	}
}

.carousel-indicators {
	position: relative;
	top: 0px;
	left: 0;
	margin: 0px auto 50px;

	@media (max-width: $screen-sm-max) {
		margin-bottom: 25px;
	}

	li {
		margin: 1px 5px;
		opacity: 0.5;
		background-color: $aqua-light;

		&.active {
			margin: 1px 5px;
			opacity: 1;
			background-color: $aqua-dark;
			width: 10px;
			height: 10px;
		}
	}
}

.carousel-control {
	opacity: 1;
	width: auto;

	&.left,
	&.right {
		background-image: none;
		text-shadow: none;


		&:hover {
			cursor: pointer;
		}

		.glyphicon-chevron-left,
		.glyphicon-chevron-right {

			@include transform(scale(1.5));

			@media (max-width: $screen-sm-max) {
				top: 12px;
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}

	.glyphicon:before {
		color: $justfix-blue;
	}

	&:hover {
		.glyphicon:before {
			color: $aqua-light;
		}
	}
}

// Bottom homepage styling
.community-advocates {
	text-align: left;

	h1 {
		margin-bottom: 70px;
	}

	img {
		max-width: 100%;

		@extend .col-md-7;
		@extend .col-sm-12;

		@media (max-width: $screen-sm-max) {
			float: none;
		}
	}

	.text {
		@extend .col-md-4;
		@include shift($n-columns: 0.5);

		@media (max-width: $screen-sm-max){
			display: block;
			margin: $section-margin/1.5 auto 0;
		}
	}
}

.flow-icon {
	img {
		max-height: 750px;
	}
}

.left-block {
	float: left;
	margin-left: 15%;
	width: 37.5%;
	color: white;

	@extend .clearfix;

	@media(max-width: $screen-sm-max) {
		float: none;
		margin: auto;
		width: 100%;
	}

	&_style {
		padding: 0px 50px;

		@media (max-width: $screen-sm-max) {
			padding: 0px 20px;
		}
	}
}

.right-block {
	@extend .col-md-4;

	.btn {
		margin: 32px auto 0 auto;

		@media (max-width: $screen-md-min) {
			margin: 48px auto 0 auto;
			float: none;
		}
	}
}
