<div class="donate center" contentful-entry="'content_type=donate'">
	<h1>{{$contentfulEntry.fields.title}}</h1>

	<p class="fall-in container">{{$contentfulEntry.fields.description}}</p>

	<form name="donateForm" ng-submit="makeCharge(donateForm)" class="input-group container">

		<div class="form-row">
			<h3>
				{{$contentfulEntry.fields.amountTitleText}}
			</h3>
			<div id="card-amount">
				<div 
					class="checkbox" 
					ng-class="{'checked': donateObj.amount == '20.00'}" 
					ng-click="changeAmt('20.00')">
					<label> 
						<input type="checkbox" value="20" ng-checked="donateObj.amount == '20.00'">
						$20.00
						</label>
				</div>
				<div 
					class="checkbox" 
					ng-class="{'checked': donateObj.amount == '50.00'}" 
					ng-click="changeAmt('50.00')">
					<label>
						<input type="checkbox" value="50" ng-checked="donateObj.amount == '50.00'">
						$50.00
					</label>
				</div>
				<div 
					class="checkbox" 
					ng-click="changeAmt('100.00')" 
					ng-class="{'checked': donateObj.amount == '100.00'}">
					<label> 
						<input type="checkbox" value="100" ng-checked="donateObj.amount == '100.00'">
						$100.00
						</label>
				</div>
				<div 
					class="checkbox" 
					ng-class="{'checked': donateObj.amount == '200.00'}"
				 	ng-click="changeAmt('200.00')">
					<label> 
						<input type="checkbox" value="200" ng-checked="donateObj.amount == '200.00'">
						$200.00
					</label>
				</div>
				<div 
					class="checkbox" 
					ng-class="{'checked': otherAmt}" 
					ng-click="changeAmt('other')">
					<label> 
						<input type="checkbox">
						other
					</label>
				</div>
			</div>
			<div class="other-amt-input" ng-show="otherAmt">
				<input id="other-text-field" type="text" placeholder="$ Enter amount" ng-model="donateObj.amount">
			</div>
		</div>

		<div class="card-wrapper">

			<h3>
				{{$contentfulEntry.fields.cardTitleText}}
			</h3>

			<div class="form-row">
				<input type="text" ng-model="donateObj.name" placeholder="Name">
			</div>

		  <div class="form-row">
		    <div id="card-element-number" class="stripe-card-element col-md-12">
		      <!-- Stripe Card Number Element -->
		    </div>
		  </div>

		  <div class="form-row">
		    <div id="card-element-expiry" class="stripe-card-element col-md-5 col-sm-5 col-xs-5">
		      <!-- Stripe Expiration date -->
		    </div>
		    <div id="card-element-cvc" class="stripe-card-element cvc col-md-5col-sm-5 col-xs-5">
		      <!-- Stripe CVC code -->
		    </div>
		  </div>

		  <div class="form-row">
		    <div id="card-element-postal" class="stripe-card-element col-md-12">
		      <!-- Stripe Postal Element -->
		    </div>
		  </div>


			<div class="form-row subscription" ng-click="toggleSubscription(true)">
				<label>
					<input type="checkbox" ng-checked="subscription">
					{{$contentfulEntry.fields.subscribe.fields.title}}
				</label>
			</div>
		
			<div class="form-row email" ng-show="subscription"><!--  || unsubscription 
				<p class="italic subtext" ng-show="subscription">{{$contentfulEntry.fields.subscribeSubtext}}</p>
				<p class="italic subtext" ng-show="unsubscription">{{$contentfulEntry.fields.unsubscribeSubtext}}</p> -->
		    <input type="email" name="email" placeholder="email" ng-model="donateObj.email">
		  </div>

	  </div>
		<div class="clearfix"></div>
		<!-- <h3>
			{{$contentfulEntry.fields.subscriptionTitleText}}
		</h3>
		<div class="form-row btn btn-danger unsubscription" ng-click="toggleSubscription(false)">
			{{$contentfulEntry.fields.unsubscribe.fields.title}}
		</div> -->

		<div class="results">
	    <!-- Used to display Element errors -->
	    <h4 
	    	id="card-errors" 
	    	class="alert alert-danger" 
	    	ng-class="{'hidden': !error}" 
	    	ng-bind-html="errorMessage"></h4>

	    <input type="submit" class="btn btn-primary btn-block donate-submit" value="{{$contentfulEntry.fields.submitRequest.fields.title}}">
	    
	    <h4 
	    	id="success-message" 
	    	class="alert alert-success donate-alert" 
	    	ng-class="{'hidden': !success}"></h4>
    
    </div>
	
	</form>

	<div class="requesting-screen" ng-show="requesting">
		<div class="center white">
			<h1>Submitting...</h1>
			<p>Please do not go to another page, or refresh until this is complete. Thank you!</p>
		</div>
	</div>
</div>