.donate {
	form {
		margin: 0 auto 70px;

		.btn {
			margin-top: 30px;
		}

		input[type=email] {
			width: 100%; 
		}
	}

	.form-row {
		margin-top: 50px;

		@extend .clearfix;

		.col-md-2 {
			padding: 0px;
		}
	}
}

.checkbox {
	margin: 10px 0;
}

.stripe-card-element {
	border: 1px solid $justfix-grey-dark;
	border-radius: 5px;
	padding: 10px;
}