<div id="header-wrap" ng-class="headerColor">
  <header class="navbar-fixed-top">
      <div class="container-fluid">
        <a class="header-brand" ui-sref="home">
          <img src="img/brand/logo.png" class="logo" />
        </a>

        <div class="header-links header-links-desktop">
          <ul class="list-inline">
            <li ng-repeat="link in vm.headerLinks"
            	ng-class="{dropdown: link.children}">
            	<a 
            		ng-if="link.sref" 
            		ui-sref="{{link.sref}}"
          		  ui-sref-active="active"
          		  target="{{link.target}}">{{ ::link.text }}</a>
            	<a 
            		ng-if="!link.sref && !link.children" 
            		ng-href="{{link.url}}"
          		  target="{{link.target}}" 
            		ng-class="link.style">{{ ::link.text }}</a>
            	<uib-dropdown
            		ng-if="link.children"
								class="dropdown-toggle mobile"
								on-toggle="toggled(open)"
								ng-class="{'active': aboutItemActive}">
									<span uib-dropdown-toggle>{{ ::link.text }}</span>
									<ul 
										class="dropdown-menu" 
										data-toggle="dropdown"
										uib-dropdown-menu>
										<li ng-repeat="child in link.children">
											<a ui-sref="{{child.sref}}">{{ ::child.text }}</a>
										</li>
									</ul>
							</uib-dropdown>
            </li>
          </ul>
        </div>

        <div class="header-links header-links-mobile">
          <a id="aside-menu-toggle" class="nav-toggle" ng-click="toggleAside()"><span></span></a>
        </div>

      </div>
  </header>
</div>

<!-- <div class="background-fadein"></div> -->
<div id="aside-menu">
  <ul class="list-unstyled" ui-sref-active="active">
    <li>
	    <a 
    		ui-sref-active="active" 
    		ui-sref="home">HOME</a>
		</li>
    <li ng-repeat="link in vm.headerLinks">
    	<a  
    		ui-sref-active="active" 
    		ng-if="link.sref" 
    		ui-sref="{{link.sref}}"
  		  target="{{link.target}}">{{ ::link.text }}</a>
    	<a 
    		ui-sref-active="active" 
    		ng-if="!link.sref && !link.children" 
    		ng-href="{{link.url}}"
  		  target="{{link.target}}">{{ ::link.text }}</a>
	  		<uib-dropdown
	    		ng-if="link.children"
					class="mobile-dropdown">
						<span 
							ng-click="toggleMenuSlidedown($event)" 
							ng-class="{expanded: status.isopen}">
							{{ ::link.text }} 
							<span class="glyphicon glyphicon-chevron-down"></span>
						</span>
						<ul 
							class="dropdown-menu mobile-dropdown-menu" 
							data-toggle="dropdown"
							uib-dropdown-menu>
							<li ng-repeat="child in link.children">
								<a ui-sref="{{child.sref}}" ui-sref-active="active">{{ ::child.text }}</a>
							</li>
						</ul>
				</uib-dropdown>
    </li>
  </ul>
</div>
