#header {
	width: 100%;
}

#header-wrap {
	position: absolute;
  height: $mobile-header-height;
  width: 100%;
  margin-bottom: 0;
  background-color: $clear;
	@include transition(all 250ms ease-out);

	z-index: 3;

  @media (min-width: $screen-sm-max) {
    height: $desktop-header-height;
		@include transition(none);
  }

	&.blue-active {
		background: $justfix-blue;
	}

  // general site styling, homepage is only one this doesn't apply to
  &.blue-bg {
  	position: relative;
	  margin-bottom: $header-bottom-margin;
	  background-color: $justfix-blue;
  }

  header {

    height: $mobile-header-height;
    margin-bottom: $header-bottom-margin;

    @media (min-width: $screen-sm-max) {
      height: $desktop-header-height;
    }


    a, uib-dropdown {
      color: #fff;
    }

    & > div {
      height: 71%;
      display: block;
      padding-top: 15px;
      // @include vertical-align();
      // @include display(flex);
      // @include align-items(center); /* Vertical center alignment */

      max-width: $screen-lg;

      // background-color: green;
    }

    .header-brand {
    	float: left;
      height: 100%;
      @media (min-width: $screen-sm-max) {
        height: 80%;
      }

      img {
        height: 100%;
        position: relative;
        top: 9px;

        @media (max-width: $screen-sm-max) {
        	top: 0px;
        }
      }
    }



    .header-links {
    	float: right;
      margin-left: auto;
      font-size:1em;

      &.header-links-desktop {
        display: none;
        @media (min-width: $screen-sm-max) {
          display: inline-block;
        }
      }

      &.header-links-mobile {
        display: block;
        @media (min-width: $screen-sm-max) {
          display: none;
        }
      }

      ul {
        margin-bottom: 0;


        li {
          vertical-align: middle;
          font-size: 14px;

          @include transform(translateZ(0));

          &:not(:last-child) {
            margin-right: 20px;
          }


					&:hover {
						.dropdown-menu {
							display: block;
							opacity: 1;
						}
					}

          a, uib-dropdown {
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

						// Highlight line
          	&:not(.btn) {
          		position: relative;
							@include clear-transform;

          		&:after {
          			content: " ";
          			position: absolute;
          			left: 0;
          			bottom: -3px;
          			background: white;
          			height: 2px;
          			width: 100%;

          			@include transform(scaleX(0));
	          		@include transition(0.2s ease all);
          		}

          		// Dropdown specific styles
							.dropdown-menu {
								padding: 10px 0;
								margin-top: 7px;
							}

          		li {
          			margin-right: 0px;

          			a {
          				display: block;
          				background: #fff;
          				padding: 5px 25px 5px 20px;
          				width: 100%;
	          			color: $justfix-grey-dark;
          				text-transform: none;
          				letter-spacing: normal;

	          			@include transition(0.2s all);

	          			&:hover,
	          			&:active,
	          			&.active {
	          				background: $justfix-blue;
	          				color: #fff;
	          			}
	          		}
          		}
          	}

						&.active,
            &:hover,
            &:active,
            &:focus {
            	text-decoration: none;

							&:not(.btn){
	            	&:after {
	            		@include transform(scaleX(1));
	            	}
							}
            }

            &.btn {
              position: relative;
              border-color: #fff;
              padding: 10px 26px;
              @include transition(all 150ms ease);
              font-size: 14px;
              width: auto;
              top: -1px;

              &:hover {
                background-color: #fff;
                color: $justfix-grey-dark;

              }
            }
          }

          uib-dropdown {
          	span {
	          	line-height: 3em;
	          }
          }
        }
      }

    }
  }
}

.nav-toggle {
  cursor: pointer;
  padding-right: 23px;
  // padding: 10px 35px 16px 0px;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  cursor: pointer;
  border-radius: 3px;
  height: 3px;
  width: 23px;
  background: white;
  transition: all 100ms ease-out;
}
.nav-toggle span {
  @include vertical-align(absolute);
}
.nav-toggle span:before,
.nav-toggle span:after {
  display: block;
  content: '';
  position: absolute;
}
.nav-toggle span:before {
  top: -8px;
}
.nav-toggle span:after {
  bottom: -8px;
}

.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}


// Mobile-dropdown specific styles
.background-fadein {
	position: fixed;
	background: rgba($justfix-grey-dark, 0.7);
	width: 100%;
	height: 100%;
}

body.modal-open {
	height: 100vh;
	overflow-y: hidden;
}

#aside-menu {
  background-color: $justfix-blue;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: $mobile-header-height;
  width: 75%;
  height: 100vh;
  max-width: 400px;
  overflow-y: auto;

  @include transform(translateX(100%));
  @include transition(transform 250ms ease-out);

  z-index: 2;

  &.open {
    @include transform(translateX(0));
  }

  li {
  	display: block;
  }

  a, uib-dropdown {
    display: block;
    width: 100%;
    padding: 15px 0 15px 25px;
    height: 42px;
    color: #fff;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &.active {
      background-color: lighten($justfix-blue, 10%);
    }
  }

  uib-dropdown {
  	padding: 0px;
  	height: 100%;

  	span {
  		display: block;
	    padding: 15px 0 15px 25px;

	    span {
	    	position: absolute;
				top: 17px;
				right: 22px;
	    	display: inline-block;
	    	padding: 0px;
	    	font-size: 0.75em;

	    	@include transition(0.4s all);
	    }

	    &.expanded,
	    &.active {
	    	span {
	    		@include transform(rotate(180deg));
	    	}
	    }
  	}
  }

  .dropdown-menu {
  	position: relative;
  	top: 0;
  	float: none;
  	margin: 0px;
  	border: none;
  	// padding: 15px 0px;
  	box-shadow: none;
  	background: none;

  	li a {
  		text-transform: none;
  		// font-size: 14px;
  		line-height: 18px;
  		font-weight: 300;
  		height: 47px;

  		&:hover {
  			background: none;
  		}
  	}
  }
}
