<div class="footer-wrap white">
  <footer class="footer-fixed-bottom">
      <div class="container main">
        <div class="pull-left">
					<ul>
						<li><a ui-sref="home">HOME</a></li>
						<li><a ui-sref="mission">OUR MISSION</a></li>
						<li><a ui-sref="about">ABOUT US</a></li>
						<li><a ui-sref="contact">CONTACT US</a></li>
						<li><a ui-sref="home">DONATE</a></li>
					</ul>
					<div class="social">
						
        		<span class="btn btn-primary">
		          <a href="http://twitter.com/justfixnyc" target="_blank">
	          		<i class="glyphicon glyphicon-twitter-white"></i>
	          	</a>
          	</span>
          	<span class="btn btn-primary">
	          	<a href="https://facebook.com/JustFixNYC" target="_blank">
	          		<i class="glyphicon glyphicon-facebook-white"></i>
	          	</a>
          	</span>
          	<span class="btn btn-primary">
	          	<a href="https://linkedin.com/justfix-nyc" target="_blank">
	          		<i class="glyphicon glyphicon-linkedin-white"></i>
	          	</a>
          	</span>
          	<span class="btn btn-primary">
	          	<a href="https://github.com/JustFixNYC" target="_blank">
	          		<i class="glyphicon glyphicon-github-white"></i>
          		</a>
          	</span>
					</div>
        </div>
        <div class="pull-right">
        	<h5>Join our mailing list!</h5>
        	<input type="email" placeholder="Email Address" />
        	<input type="submit" class="btn btn-primary btn-block signup" value="SIGN UP" />
        </div>
      </div>
      <div class="disclaimer container">
				<strong>Disclaimer:</strong> The information in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free legal services if necessary.
      </div>
  </footer>
</div>
