.footer-fixed-bottom {
	position: relative;
	bottom: 0px;
	padding: 30px 0;
	background: $justfix-blue-darkest;
	width: 100%;

	.main {
		padding: 0px;
		border-bottom: 2px solid rgba(255,255,255,0.4);
	}

	.pull-left.logo {
		padding: 0px;

		@extend .col-md-2;

		@media (max-width: $screen-sm-max) {
			text-align: center;
		}

		img {
			max-width: 100%;
		}
		@media (max-width: $screen-sm-max) {
			margin-bottom: 20px;
			width: 100%;
			img {
				max-width: 250px;
			}
		}
	}

	.pull-left {
		text-align: center;

		@extend .col-md-3;
		@extend .col-sm-6;

		@media (max-width: $screen-xs-max) {
			text-align: left;
		}

		&.menu {
			@extend .col-md-3;
			@extend .col-sm-6;
			@extend .col-xs-12;
		}
	}

	ul {
		// margin: auto 15px;
		display: inline-block;
		padding: 0px;
		text-align: left;

		@media (max-width: $screen-xs-max) {
			margin: 10px 15px;
		}
	}

	li {
		margin: auto;
		padding: 5px 0px;
		list-style: none;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 2px;

		a {
			color: $justfix-blue;

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}

	h5 {
		margin: 5px auto 20px;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.pull-right {
		margin: auto;

		@media (max-width: $screen-sm-max) {
			margin-top: 20px;
			width: 100%;
			text-align: center;
		}

		.btn.signup {
			@media (max-width: $screen-sm-max) {
				margin: 10px auto 10px;
			}
		}

		input[type=email] {
			margin-bottom: 10px;
			color: black;

			@media (max-width: $screen-sm) {
				width: 100%;
				max-width: 260px;
			}
		}
	}


	.social {
		margin: 30px 0;

		.btn {
			margin: 0 10px;
			width: auto;

			@include transition(0.2s all);

			&:first-child {
				margin: 0px 10px 0px 0px;
			}

			&:last-child {
				margin: 0px 0px 0px 10px;
			}

			&:hover {
				opacity: 0.7;
			}
		}

		@media (max-width: $screen-sm) {
			margin: 50px 0;
			text-align: center;
		}
	}

	.footer-text {
		margin-top: 28px;
		padding: 0;
		font-size: 14px;
		line-height: 1.5;

		color: $justfix-grey-light;

		@media (max-width: $screen-sm-max) {
			padding: 0 15px;
		}

		.footer-text-content {
			padding-left: 0px;
			display: inline-block;
			vertical-align: top;

			@extend .col-md-9;
		}

		.contentful {
			float: right;
			margin-left: 80px;
			padding-right: 0px;
			text-align: center;

			@extend .col-md-2;
			@extend .col-sm-10;

			img {
				max-width: 100%;
			}

			@media (max-width: $screen-sm-max) {
				float: none;
				margin: 28px auto 0 auto;
				padding-right: 15px;
				max-width: 150px;
			}
		}
	}
}
