<div class="footer-wrap white">
  <footer class="footer-fixed-bottom">
      <div class="container main">
        <div class="pull-left">
					<ul>
						<li><a ui-sref="home">HOME</a></li>
						<li><a ui-sref="mission">OUR MISSION</a></li>
						<li><a ui-sref="team">OUR TEAM</a></li>
						<li><a ui-sref="contact">CONTACT US</a></li>
					</ul>
					<div class="social">
						
          	<span class="btn btn-primary">
          		<i class="glyphicon glyphicon-twitter-white"></i>
          	</span>
          	<span class="btn btn-primary">
          		<i class="glyphicon glyphicon-facebook-white"></i>
          	</span>
          	<span class="btn btn-primary">
          		<i class="glyphicon glyphicon-linkedin-white"></i>
          	</span>
          	<span class="btn btn-primary">
          		<i class="glyphicon glyphicon-github-white"></i>
          	</span>
					</div>
        </div>
        <div class="pull-right">
        	<h5>Join our mailing list!</h5>
        	<input type="email" placeholder="Email" />
        	<input type="submit" class="btn btn-primary btn-block" value="SIGN UP" />
        </div>
      </div>
      <div class="disclaimer container">
				<p><strong>Disclaimer:</strong> The information in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free legal services if necessary.</p>
      </div>
  </footer>
</div>
