.footer-fixed-bottom {
	position: relative;
	bottom: 0px;
	padding: 30px 0;
	background: $justfix-blue-darkest;
	width: 100%;

	.main {
		border-bottom: 2px solid rgba(255,255,255,0.4);

		.pull-left,
		.pull-right {
			@media (max-width: $screen-sm) {
				width: 100%;
			}
		}
	}

	ul {
		padding: 0px;
	}

	li {
		margin: auto;
		padding: 5px 0px;
		list-style: none;
		color: $justfix-blue;
		font-weight: 600;
		font-size: 14px;

		a {
			letter-spacing: 2px;

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}

	.social {
		margin: 30px 0;

		.btn {
			margin: 0 10px;
			width: auto;

			@include transition(0.2s all);

			&:first-child {
				margin: 0px 10px 0px 0px;
			}

			&:last-child {
				margin: 0px 0px 0px 10px;
			}

			&:hover {
				opacity: 0.7;
			}
		}

		@media (max-width: $screen-sm) {
			margin: 50px 0;
			text-align: center;
		}
	}

	h5 {
		margin: 5px auto 20px;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.pull-right {

		input[type=email] {
			margin-bottom: 10px;
			color: black;

			@media (max-width: $screen-sm) {
				width: 100%;
			}
		}
	}

	.footer-text {
		margin-top: 28px;
		padding: 0;
		font-size: 14px;
		line-height: 1.5;

		color: $justfix-grey-light;

		@media (max-width: $screen-sm-max) {
			padding: 0 15px;
		}

		.footer-text-content {
			@extend .col-md-9;
			display: inline-block;
			vertical-align: top;
		}

		// span {
		// 	padding: 0;
		//
		//
		// 	@media (max-width: $screen-sm-max) {
		// 	}
		// }

		.contentful {
			// float: right;
			margin-left: 50px;
			padding-right: 0px;
			text-align: center;

			@extend .col-md-2;
			@extend .col-sm-10;

			img {
				max-width: 100%;
			}

			@media (max-width: $screen-sm-max) {
				float: none;
				margin: 28px auto 0 auto;
				padding-right: 15px;
				max-width: 150px;
			}
		}
	}
}
