<div class="footer-wrap white">
  <footer class="footer-fixed-bottom">
    <div class="container main">
      <div class="pull-left">
				<ul>
					<li><a ui-sref="home">HOME</a></li>
					<li><a ui-sref="mission">OUR MISSION</a></li>
					<li><a ui-sref="about">ABOUT US</a></li>
					<li><a ui-sref="contact">CONTACT US</a></li>
					<li><a href="https://www.nycharities.org/give/donate.aspx?cc=4125" target="_blank">DONATE</a></li>
					<li><a href="https://beta.justfix.nyc/?lang=es_mx">EN ESPAÑOL</a></li>
				</ul>
				<div class="social">

      		<span class="btn btn-primary btn-icon">
	          <a href="http://twitter.com/justfixnyc" target="_blank">
          		<i class="glyphicon glyphicon-twitter-white"></i>
          	</a>
        	</span>
        	<span class="btn btn-primary btn-icon">
          	<a href="https://facebook.com/JustFixNYC" target="_blank">
          		<i class="glyphicon glyphicon-facebook-white"></i>
          	</a>
        	</span>
        	<span class="btn btn-primary btn-icon">
          	<a href="https://linkedin.com/justfix-nyc" target="_blank">
          		<i class="glyphicon glyphicon-linkedin-white"></i>
          	</a>
        	</span>
        	<span class="btn btn-primary btn-icon">
          	<a href="https://github.com/JustFixNYC" target="_blank">
          		<i class="glyphicon glyphicon-github-white"></i>
        		</a>
        	</span>
				</div>
      </div>
      <div class="pull-right">
      	<h5>Join our mailing list!</h5>
      	<div id="mc_embed_signup_scroll">
	      	<form action="//nyc.us13.list-manage.com/subscribe/post?u=d4f5d1addd4357eb77c3f8a99&amp;id=588f6c6ef4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		      	<input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required/>
 						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4f5d1addd4357eb77c3f8a99_588f6c6ef4" tabindex="-1" value=""></div>
		      	<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block signup" value="SIGN UP" />
	      	</form>
      	</div>
      </div>
    </div>
    <div class="footer-text container">

      <div class="footer-text-content">
				<strong>Disclaimer:</strong> The information in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free legal services if necessary.
        <br />
        <br />
        <strong>JustFix.nyc</strong> is a registered 501(c)(3) nonprofit organization.
<!--
        <p>
          <span>501c3 organization</span>
        </p>         -->
      </div>

			<div class="contentful">
				<a target="_blank" href="http://contentful.com">
					<img src="/img/contenful-light.png" />
				</a>
			</div>
    </div>
  </footer>
</div>
