
<section class="mission" contentful-entry="'content_type=missionPage'">
  <header class="container">
    <h1>{{$contentfulEntry.fields.title}}</h1>
    <p class="lead">{{$contentfulEntry.fields.briefDescription}}</p>
  </header>

  <div class="img-container">
    <div class="img-responsive img-full " ng-style="{'background-image':'url(' + $contentfulEntry.fields.headerBreakImage.fields.file.url + ')'}"></div>
  </div>

  <article class="container padding-section" ng-bind-html="$contentfulEntry.fields.problemBlock | markdown">
  </article>

  <article class="problem-break padding-section">
  	<div class="container">
	  	<div class="icon-wrap" ng-bind-html="$contentfulEntry.fields.problemBreakBlock | markdown">
	  	</div>
	  	<div class="icon-wrap" ng-repeat="icon in $contentfulEntry.fields.problemBreakIcon track by $index">
	  		<div class="circle-icon">
		  		<img ng-src="{{icon.fields.iconImage.fields.file.url}}" />
	  		</div>
	  		<div class="text">
	  			<strong>{{icon.fields.iconImage.fields.title}}</strong>
  			</div>
	  	</div>
  	</div>
  </article>

  <article class="container padding-section" ng-bind-html="$contentfulEntry.fields.serveBlock | markdown">
  </article>

  <div class="triptych">
  	<div class="image-wrap" ng-repeat="image in $contentfulEntry.fields.imageTriptych track by $index">
			<div class="img-scale" ng-style="{'background-image':'url(' + image.fields.file.url + ')'}"></div>
  	</div>
  </div>
  <div class="clearfix"></div>

  <article class="container padding-section approach">
  	<h1>{{$contentfulEntry.fields.approachTitle}}</h1>

  	<div class="icon-wrap" ng-repeat="icon in $contentfulEntry.fields.approachBreakIcon track by $index">
  		<img ng-src="{{icon.fields.iconImage.fields.file.url}}" />
  		<div class="text">
  			<strong>{{icon.fields.iconImage.fields.title}}</strong>
			</div>
  	</div>

  	<div class="clearfix"></div>

	  <div ng-bind-html="$contentfulEntry.fields.approachBlock | markdown">
	  </div>
  </article>


  <div class="img-container">
    <div class="img-responsive img-full" ng-style="{'background-image':'url(' + $contentfulEntry.fields.collaborationImageBreak.fields.file.url + ')'}"></div>
  </div>

  <article class="container padding-section collaboration" ng-bind-html="$contentfulEntry.fields.collaborationBlock | markdown">
  </article>
    
</section>


<section class="banner">
	<a ui-sref="mission">
		<div class="container">
			<div class="pull-left">
				<h4>Want to know more?</h4>
				<h3 class="white">Read Our Mission.</h3>
			</div>
			<div class="pull-right">
				<span class="glyphicon glyphicon-chevron-right white"></span>
			</div>
		</div>
	</a>
</section>

