<article class="mission" contentful-entry="'content_type=missionPage'">
  <section class="full_page_hero">
    <article class="container full_page_hero-container">
      <h1>{{$contentfulEntry.fields.title}}</h1>
      <p class="lead">{{$contentfulEntry.fields.briefDescription}}</p>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <div class="video_wrapper_16_9">
            <video class="video_wrapper_16_9-video" ng-src="{{$contentfulEntry.fields.videoUnit.fields.video.fields.file.url | trustUrl}}" autoplay muted playsinline controls></video>
          </div>
        </div>
      </div>

      <p class="reduced-margin center">{{$contentfulEntry.fields.videoUnit.fields.caption}}</p>
    </article>
  </section>

  <section>
  	<div class="container" ng-bind-html="$contentfulEntry.fields.problemBlock | markdown">
  	</div>
  </section>

  <section class="problem-break padding-section">
  	<div class="container">
	  	<div class="icon-wrap text" ng-bind-html="$contentfulEntry.fields.problemBreakBlock | markdown">
	  	</div>
	  	<div class="icon-wrap" ng-repeat="icon in $contentfulEntry.fields.problemBreakIcon track by $index">
	  		<div class="circle-icon">
		  		<img ng-src="{{icon.fields.iconImage.fields.file.url}}" />
	  		</div>
	  		<div class="text">
	  			<strong>{{icon.fields.iconDescription}}</strong>
  			</div>
	  	</div>
  	</div>
  </section>

  <section>
  	<div class="container" ng-bind-html="$contentfulEntry.fields.serveBlock | markdown">
  	</div>
  </section>

  <div class="triptych">
  	<div class="image-wrap" ng-repeat="image in $contentfulEntry.fields.imageTriptych track by $index">
			<div class="img-scale" ng-style="{'background-image':'url(' + image.fields.file.url + ')'}"></div>
  	</div>
  	<div class="clearfix"></div>
	  <section class="reduced-margin-top">
	  	<div class="container">
			<p class="lead">{{$contentfulEntry.fields.triptychLeadIn}}</p>
	  		<p ng-bind-html="$contentfulEntry.fields.triptychParagraph | markdown"></p>
			</div>
	  </section>
  </div>

  <section class="container approach">
		<h1>{{$contentfulEntry.fields.approachTitle}}</h1>

		<div class="container">

	  	<div class="icon-wrap" ng-repeat="icon in $contentfulEntry.fields.approachBreakIcon track by $index">
	  		<img ng-src="{{icon.fields.iconImage.fields.file.url}}" />
	  		<div class="text">
	  			<strong>{{icon.fields.iconDescription}}</strong>
				</div>
	  	</div>

  	</div>

  	<div class="clearfix"></div>
  	<br />

	  <div class="container" ng-bind-html="$contentfulEntry.fields.approachBlock | markdown">
	  </div>
  </section>

  <div class="responsive_image no-margin-bottom">
    <div class="responsive_image-image" ng-style="{'background-image':'url(' + $contentfulEntry.fields.collaborationImageBreak.fields.file.url + ')'}"></div>
  </div>

  <section class="alt">
  	<div class="container center" ng-bind-html="$contentfulEntry.fields.collaborationBlock | markdown">
  	</div>
  </section>

	<banner></banner>

</article>
