
.btn {
  font-size: 16px;
  padding: 15px 26px;
  height: auto;
  -webkit-appearance: none;
  letter-spacing: 1px;

  @include transition(background-color 0.2s ease);

  &:active,
  &:focus,
  &:active:focus {
  	outline-color: $clear;
    outline: none;
  }

  &:not(.btn-link) {
    width: 260px;
  }

  .social & {
    width: auto;
  }

  &[type="submit"].signup {
		margin: -2px 0 0 0;
    padding: 10px 26px;
		width: 140px;

		@media (max-width: $screen-sm) {
			margin: 10px auto 34px 0;
		}
  }

  & + .btn-outline {
    margin-left: 50px;
  }

  & .glyphicon {
		float: left;
		margin: 3px 10px 0 0;
	}
}



.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
  border-color: $aqua-light;
  background-color: $aqua-light;
}

.btn-icon:hover {
  background-color: transparent !important;
}

.btn-warning:hover {
	border-color: $sunflower-light;
	background-color: $sunflower-light;
}

.btn-block {
  max-width: 220px;
  margin: 0 auto;

  &.btn-link {
    max-width: none;
  }

  &.initial {
    float: none !important;
  }

  & + .btn-block {
    margin-top: 15px;
  }
}

.btn-big {

  @media (min-width: $screen-xs) {
    @include transform(scale(1.3));
    margin-top: 15px;
  }
}

.btn-link {
  letter-spacing: 0;
  white-space: normal;
}

.btn-outline {
	border: 2px solid white;
	padding: 14px 22px;
	background: rgba(255,255,255,0);
	color: white;
	width: auto;

	&:hover,
	&:focus,
	&:active {
		background: rgba(255,255,255,1);
	}

  &.btn-outline-blue {
    border-color: $justfix-blue;
    color: $justfix-blue;

    &:hover,
    &:focus,
    &:active {
      background: $justfix-blue;
      color: white;
    }
  }

	&.black {
		border-color: $justfix-grey-dark;
		padding: 14px 45px;
		color: $justfix-grey-dark;
		font-weight: 600;

		&:hover,
		&:focus,
		&:active {
			background: $justfix-grey-dark;
			color: white;
		}
	}

	@media (max-width: $screen-sm-max) {
		display: block;
		margin: 2em auto 20px auto !important;
		width: 260px;
	}
}
