html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.white-bg {
    background-color: #fff;
  }

}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: $text-semi;
}
h3 {

}
h4 {
  font-size: 18px;
  font-weight: $text-semi;
}
