html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.white-bg {
    background-color: #fff;
  }

}

#header {
  position: relative;
  z-index: 100;
}

#main {
  position: relative;
  z-index: 50;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: $line-height-computed;

  &:last-child {
    margin-bottom: 0;
  }
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  font-weight: $text-semi;
}
h4 {
  font-size: 18px;
  font-weight: $text-semi;
}
p {
  margin-bottom: $line-height-computed;
  line-height: $line-height-computed * 1.1;

  &.lead {
    font-size: 22px;
    font-style: italic;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.padding-section-reduced {
	padding: 50px 0 50px;
}

.padding-section {
	padding: 120px 0 120px 0;

	@media (max-width: $screen-sm-max) {
		padding: 70px 0 70px 0;
	}
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.center {
	text-align: center;
}

// Styles from tenant app


.white {
	color: white;
}

strong {
	font-weight: 600;
}

input[type=email] {
	font-size: 16px;
	border: 1px solid $justfix-grey-dark;
	border-radius: 3px;
	box-shadow: none;
  padding: 10px 13px;
  height: auto;
  width: 260px;
  -webkit-appearance: none;
  letter-spacing: 1px;
  color: $justfix-grey-dark;

  &:focus {
  	outline: none;
  	border: 1px solid $justfix-blue;
  }
}

.hidden-mobile {

	@media (max-width: $screen-md-min) {
		display: none !important;
	}
}

.hidden-desktop {
	.btn {
		text-align: center;
	}
	@media (min-width: $screen-md-min) {
		display: none !important;
	}
}

.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.no-margin-top {
	margin-top: 0px !important;
}

.reduced-margin {
	margin-top: 25px;
	margin-bottom: 25px;
}

.reduced-margin-top {
	margin-top: 25px;
}

.banner {
	margin: 0px;
	padding: 30px 0;
	background: $brand-info;

	@include transition(0.2s all);

	h2 {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.3em;

		@media (max-width: $screen-sm-max) {
			text-decoration: underline;
		}
	}

	&:hover,
	&:focus,
	&:active {
		background: lighten($brand-info, 5);
	}

	@media (max-width: $screen-sm-max) {
		.pull-left {
			float: none !important;
			text-align: center;
		}
	}

	h4 {
		margin-bottom: 15px;
		text-align: left;
		color: $text-color;
	}

	.container {
		position: relative;
	}

	.pull-right {
		right: 12px;
		font-size: 1.95em;
		@include vertical-align(absolute);

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}

// Social media buttons
.social {
	margin: 40px 0 20px 0;

	.btn {
		margin: 0px 16px;
		border: none;
		border-radius: 50%;
		background: none;
		padding: 0px;
		width: auto;

		&:first-child {
			margin: 0px 16px 0px 0px;
		}

		&:last-child {
			margin: 0px 0px 0px 16px;
		}

		&:active,
		&:focus {
			outline: none;
			border: none;
			background: none;
		}

		i {
			position: relative;

			&:before,
			&:after {
				content: "\00a0";
				padding: 11px;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;

				@include transition(opacity 0.2s ease);
			}
			&:after {
				position: absolute;
				top: -11px;
				left: -1px;
				opacity: 0;
			}
		}

		&:hover {
			i {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}

	// svg social icons TODO: move to _core.scss
	.glyphicon-twitter {
		&:before {
			background-image: url('../img/twitter-blue.svg');
		}
		&:after {
			background-image: url('../img/twitter-blue-invert.svg');
		}
	}
	.glyphicon-linkedin {
		&:before {
			background-image: url('../img/linkedin-blue.svg');
		}
		&:after {
			background-image: url('../img/linkedin-blue-invert.svg');
		}
	}
	.glyphicon-facebook {
		&:before {
			background-image: url('../img/facebook-blue.svg');
		}
		&:after {
			background-image: url('../img/facebook-blue-invert.svg');
		}
	}
	.glyphicon-github {
		&:before {
			background-image: url('../img/github_icon.svg');
		}
		&:after {
			background-image: url('../img/github_icon-invert.svg');
		}
	}

	// Base 64 social icons
	.glyphicon-twitter-white {
		&:before {
			background-image: url('../img/twitter-white.svg');
		}
		&:after {
			background-image: url('../img/twitter-white-invert.svg');
		}
	}
	.glyphicon-linkedin-white {
		&:before {
			background-image: url('../img/linkedin-white.svg');
		}
		&:after {
			background-image: url('../img/linkedin-white-invert.svg');
		}
	}
	.glyphicon-facebook-white {
		&:before {
			background-image: url('../img/facebook-white.svg');
		}
		&:after {
			background-image: url('../img/facebook-white-invert.svg');
		}
	}
	.glyphicon-github-white {
		&:before {
			background-image: url('../img/github_icon-white.svg');
		}
		&:after {
			background-image: url('../img/github_icon-white-invert.svg');
		}
	}
}
