html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.white-bg {
    background-color: #fff;
  }

}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: $line-height-computed;

  &:last-child {
    margin-bottom: 0;
  }
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  font-weight: $text-semi;
}
h4 {
  font-size: 18px;
  font-weight: $text-semi;
}
p {
  margin-bottom: $line-height-computed;
  line-height: $line-height-computed * 1.2;

  &.lead {
    font-size: 24px;
    font-style: italic;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.center {
	text-align: center;
}

// Styles from tenant app

.btn {
  font-size: 16px;
  padding: 10px 26px;
  height: auto;
  -webkit-appearance: none;
}

.btn-block {
  max-width: 220px;
  margin: 0 auto;

  &.btn-link {
    max-width: none;
  }

  &.initial {
    float: none !important;
  }
}

.white {
	color: white;
}

input[type=email] {
	margin-right: 10px;
	padding: 8px 10px;
}
