header, section > .container, footer  > .container, .banner .container {
	
	margin: auto;
  // @include container-fixed();
  max-width: $screen-md;

  @media (min-width: $screen-xlg) {
  	max-width: $screen-lg;
  }

  & > h1,
  & > h3,
  & > p:not(.lead) {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

article {

  header {

    margin-top: 55px;

    h1, .lead {
      text-align: center;
    }
  }

  header, section {
    margin-top: 75px;
    margin-bottom: 75px;

    @media (max-width: $screen-sm) {
    	margin-top: 50px;
    	margin-bottom: 50px;
    }
  }

  .img-container {

    .img-full {
      width: 100vw;
    }
  }

  section {
    &.alt {
      background-color: $justfix-grey-light;
      padding-top: 75px;
      padding-bottom: 75px;

      @media (max-width: $screen-sm-max) {
      	text-align: center;
      }
    }

  }

}
