header, section > .container, footer  > .container, .banner .container {
	
	margin: auto;
  // @include container-fixed();
  max-width: $screen-md;

  @media (min-width: $screen-xlg) {
  	max-width: $screen-lg;
  }

  & > h1,
  & > h3,
  & > p:not(.lead) {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

header.container {
	margin-top: $section-margin / 2;

	@media (max-width: $screen-sm-max) {
		margin-top: $section-margin / 3;
	}
}

article {

  header {

    margin-top: 55px;

    h1, .lead {
      text-align: center;
    }
  }

  header, section {
    margin-top: $section-margin;
    margin-bottom: $section-margin;

    @media (max-width: $screen-sm) {
    	margin-top: 50px;
    	margin-bottom: 50px;
    }
  }

  .img-container {

    .img-full {
      width: 100vw;
    }
  }

  section {
    &.alt {
      background-color: $justfix-grey-light;
      padding-top: $section-margin;
      padding-bottom: $section-margin;

      @media (max-width: $screen-sm-max) {
      	text-align: center;
      }
    }

  }

}

.img-bg {
	margin-top: 0px;
	background-image: url('http://degy28l8twq8c.cloudfront.net/brownstones.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&.landlord {
		background-image: url('../img/landlord-dark.jpg');

		p  {
			font-size: 1.25em;
			line-height: 1.5em;
		}
	}
}
