$justfix-blue: #0096D7;
$justfix-blue-dark: #0E6594;
$justfix-blue-darkest: #003D57;

$justfix-red: #E85D5D;
$justfix-yellow: #F6BB42;
$justfix-green: #8CC152;
$justfix-green-alt: #37BC9B;

$justfix-grey-light: #F6F6F6;
$justfix-grey-dark: #434A54;

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$mobile-header-height: 50px;
$desktop-header-height: 70px;
$header-bottom-margin: 20px;

$brand-primary:         $justfix-blue;
$brand-success:         $justfix-green;
$brand-info:            $justfix-green-alt;
$brand-warning:         $justfix-yellow;
$brand-danger:          $justfix-red;

$font-size-base: 18px;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$text-color: $justfix-grey-dark;
$body-bg: #fff;
$text-light: 300;
$text-normal: 400;
$text-semi: 600;
$text-bold: 700;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xlg:								 1500px !default;
$screen-xlg-min:						 $screen-xlg !default;
$screen-xlg-desktop:				 $screen-xlg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$border-radius-base: 3px;
// $grid-gutter-width: 40px;
