.home-page {
	h2 {
		margin-bottom: 50px;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.3em;

		@media (min-width: $screen-sm-min) {
			margin: 0 auto 50px;
			max-width: 540px;
		}
	}

	h1 {
		margin-bottom: $section-margin / 2.25;

		@media (max-width: $screen-sm-max) {
			// margin-bottom: $section-margin/1.5;
		}
	}

	.img-bg.hero {
		position: relative;
		background-image: url('https://degy28l8twq8c.cloudfront.net/brownstones.jpg');
		background-size: cover;
		min-height: 400px;
	}

	.img-bg.landlord {
		background-image: url('../img/landlord-dark.jpg');
		background-size: cover;
	}
}

.hero-container {
	margin: auto;
	text-align: center;
	max-width: 720px;
	color: white;

	h1 {
		font-size: 2.75em;
		font-weight: 600;
		line-height: 1.2;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.5);

		p {
			margin-bottom: 0;
		}

		@include transform(translateZ(0));

		@media (max-width: $screen-xs-max) {
			margin: 0px 0 30px 0;
			font-size: 35px;
			line-height: 1.3em;
		}

		@media (max-width: 350px) {
			margin: 0px 0 30px 0;
			font-size: 30px;
			line-height: 1.2em;
		}
	}

	.subcopy {
		margin: 0 auto $section-margin/1.7;
		// margin-bottom: $section-margin/1.7;
		font-size: 1.2em;
		max-width: 600px;

		@media (max-width: $screen-xs-max) {
			margin: 0 auto $section-margin/2.3;
			font-size: 1em;
		}
	}
}



.learn-more-link:hover,
.learn-more-link:focus {
	text-decoration: none;
}

.learn-more {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	color: white;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.5);

	.glyphicon {
    margin-top: 0px;
    font-size: 0.75em;
    line-height: 0px;

		@include transition(0.2s all);

		&:before {
			content: "\e259";
		}
	}

	&:hover {
		.glyphicon {
			@include transform(translateY(5px));
		}
	}

	@media (max-width: $screen-xs-min) {
		bottom: 20px;
	}
}

.home-content-blocks {
	color: $justfix-grey-dark;

	h1 {
		// margin-top: 0;//$section-margin / 2;
		margin-top: $section-margin / 2;
		margin-bottom: $section-margin;
	}

	.subtexts {
		h4 {
			font-weight: 800;
			margin: 10px 0;
		}
	}

	.one-fourth {
		margin-bottom: 25px;

		@include shift(1.25);
		@extend .col-md-4;

		@media (max-width: $screen-md-min) {
			@include shift(0);
		}
	}

	p.title {
		font-weight: 800;
		margin: 15px 0;
	}

	.btn {

		margin: 2.5em 0 2em;
		@media (max-width: $screen-sm-max) {
			margin: 2.5em auto 2em;
		}

		width: auto;
		max-width: 275px;
	}


	.row {
		display: flex;
		align-items: center;
		margin-bottom: 100px;

		@media (max-width: $screen-sm-max) {
			display: block;
			text-align: center;
		}

		.product-content-block {
			max-width: 500px;
			margin: 0 auto;
		}

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

.justfix-blue {
	background: $justfix-blue;
}

.landlord {
	.center-block {
		@extend .col-md-6;
		@include shift($n-columns: 3);

		@media (max-width: $screen-sm-max) {
			@include shift($n-columns: 0);
		}
	}
}
