.home {
	h2 {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.3em;

		@media (min-width: $screen-sm-min) {
			margin: auto;
			max-width: 540px;
		}
	}
}

.padding-section {
	padding: 120px 0 120px 0;

	@media (max-width: $screen-sm-max) {
		padding: 70px 0 70px 0;
	}
}

.hero {
	height: 100vh;

	.container {
		@include vertical-align;		
	}
}

.hero-container {
	color: white;

	// @include vertical-align;
	@extend .col-md-10;

	@media (max-width: $screen-xs-max ) {
		@include shift($n-columns: 0);
		text-align: center;
	}

	h1 {
		margin-bottom: 1em;
		font-size: 3em;
		font-weight: 600;

		@include transform(translateZ(0));

		@media (max-width: $screen-xs-max) {
			font-size: 2em;
		}
	}
}

.learn-more {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 25px;
	color: white;

	@include transform(translateX(-50%));
}

.justfix-blue {
	background: $justfix-blue;
}

.flow-icon {
	img {
		max-height: 750px;
	}
}

.landlord {
	.center-block {
		h2 {
			margin-bottom: 2em;
		}

		@extend .col-md-6;
		@include shift($n-columns: 3);

		@media (max-width: $screen-sm-max) {
			@include shift($n-columns: 0);
		}
	}
}

.map-bg {
	background-image: url('../img/map-bg.jpg');
}

.left-block {

	@extend .col-md-6;

	&_style {
		border-radius: 4px;
		padding: 40px 50px;
		background: white;

		@media (max-width: $screen-sm-max) {
			padding: 40px 20px;
		}
	}
}

.right-block {
	@extend .col-md-6;

	.btn {
		float: left;
		margin: 15% 0 0 50%;

		@include transform(translateX(-65px));

		@media (max-width: $screen-md-min) {
			margin: 10% auto 0 auto;
			float: none;

			@include transform(translateX(0));
		}
	}
}
