<div id="home" class="home-page" contentful-entry="'content_type=homePage'">

	<section class="img-bg hero">
		<article class="container">
			<div class="hero-container">
				<h1>{{ $contentfulEntry.fields.heroCopy }}</h1>
				<p class="subcopy hidden-mobile">{{$contentfulEntry.fields.subCopy}}</p>
				<!-- <a ng-href="{{$contentfulEntry.fields.getStartedButton.fields.link}}" class="btn btn-primary">{{$contentfulEntry.fields.getStartedButton.fields.title}}</a> -->
				<!-- <a href="https://beta.justfix.nyc/espanol" class="btn btn-outline">EN ESPAÑOL</a> -->
				<a href="#" scroll-to="products" class="btn btn-outline">
					LEARN MORE
					<!-- <div class="center learn-more">
						how it works
						<br />
						<span class="glyphicon glyphicon-chevron-down"></span>
					</div> -->
				</a>
			</div>
			<div class="clearfix"></div>
		</article>

	</section>

	<section class="container white padding-section-reduced home-content-blocks" id="products">

		<h1 class="text-center">Our Products & Services</h1>

		<div class="row" ng-repeat="entry in $contentfulEntry.fields.homePageProductBlocks track by $index">
				<div class="col-sm-6 col-xs-12" ng-class="{ 'col-sm-push-6': $index % 2 == 0 }">
					<img ng-src="{{entry.fields.screenshot.fields.file.url}}" />
				</div>
				<div class="col-sm-6 col-xs-12" ng-class="{ 'col-sm-pull-6': $index % 2 == 0 }">
					<div class="product-content-block">
						<h3>{{entry.fields.title}}</h3>
						<p>{{entry.fields.description}}</p>
						<a class="btn btn-primary btn-block" href="{{entry.fields.cta.url}}?utm_source=orgsite" target="_blank">{{entry.fields.cta.title}}</a>
					</div>
				</div>
		</div>

		<!--

		<div class="columns">
			<div class="one-fourth" ng-repeat="entry in $contentfulEntry.fields.informationalBlocks track by $index">
				<img ng-src="{{entry.fields.icon.fields.file.url}}" height="60" />

				<p class="title">{{entry.fields.title}}</p>
				<p>{{entry.fields.description}}</p>
			</div>

			<div class="clearfix" ng-if="$index % 2 == 0"></div>
		</div>

		<div class="clearfix"></div>
		<a ng-href="{{$contentfulEntry.fields.createAccountButton.fields.link}}" class="btn btn-primary">{{$contentfulEntry.fields.createAccountButton.fields.title}}</a> -->

	</section>

	<!-- <article>
		<section class="center no-margin justfix-blue padding-section">
				<div class="left-block">
					<div class="left-block_style" ng-bind-html="$contentfulEntry.fields.tenantDirectoryDescription | markdown">
					</div>
				</div>
				<div class="right-block">
					<a class="btn btn-warning btn-block" href="https://www.evictionfreenyc.org" target="_blank">FIND HELP</a>
				</div>
			<div class="clearfix"></div>
		</section>
	</article> -->
  <section class="justfix-blue no-margin center white padding-section-reduced ">
  	<div class="center-block">
  		<div class="left-block_style">
  			<h3>Want your apartment’s Rental History?</h3>
  			<p>This can help you find out if you are being overcharged on rent. Text <b>“RENT HISTORY”</b> to (646) 783-0627 and get your Rental History from the DHCR in the mail— <i>¡Tambien disponible in español!</i></p>
  		</div>
  	</div>
  	<div class="clearfix"></div>
  </section>
  <section class="video_unit padding-section-reduced gray_bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="video_unit-title">{{$contentfulEntry.fields.videoUnit.fields.title}}</h1>
        </div>
      </div>
      <div class="row align_items_end-sm">
        <div class="col-sm-8">
          <div class="video_wrapper_16_9">
            <iframe class="video_wrapper_16_9-video" src="https://www.youtube.com/embed/QsRq3OWNkgY?rel=0&amp&autoplay=0&playsinline=1&modestbranding=1;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="video_unit-caption">{{$contentfulEntry.fields.videoUnit.fields.caption}}</p>
          <a ui-sref="mission" class="btn btn-outline black video_unit-button">READ OUR MISSION</a>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-section-reduced">
    <h1 class="center no-margin-bottom">{{$contentfulEntry.fields.pressTitle}}</h1>
    <div class="container logos logos--faded">
      <span
        class="logo"
        ng-repeat="pressLogo in $contentfulEntry.fields.pressLogos"
        >
        <div class="background-image"
          ng-style="{'background-image': 'url(' + pressLogo.fields.logo.fields.file.url + ')'}">
        </div>
      </span>
    </div>
  </section>

</div>
<!-- <h1>Header Uno 36px</h1>
<h2>Header Dos 30px</h2>
<h3>Header Tres 24px</h3>
<h4>Header Cuatro 18px</h4>
<p>Deserunt sit dolore fugiat proident laborum commodo reprehenderit exercitation aliquip fugiat eiusmod pariatur proident Lorem elit ad elit. Deserunt Lorem ea fugiat cupidatat mollit sit in adipisicing sint ad velit elit velit. Duis in reprehenderit sit incididunt deserunt excepteur et voluptate in.</p> -->
