<section ng-if="$contentfulEntry.fields.videoUnit" class="video_unit padding-section-reduced no-margin">
  <div class="container">
    <div class="row align_items_end-sm">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="video_wrapper_16_9">
          <iframe class="video_wrapper_16_9-video" src="https://www.youtube.com/embed/4oF5SN1b6oY?rel=0&amp&autoplay=1&mute=1&playsinline=1;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-5">
        <h3 class="video_unit-title text-left reduced-margin">{{$contentfulEntry.fields.videoUnit.fields.title}}</h3>
      </div>
    </div>
  </div>
</section>
