.team-container.directors {
	// margin-top: 50px;

  .team-member {
    @extend .col-sm-12;
    @extend .row;

    @media (min-width: $screen-sm-min) {
      padding-left: 45px;
      padding-right: 45px;
    }

    &:last-child {

    	@media (min-width: $screen-sm-min) {
	    	// @include shift(0);
	    	margin-left: -1%;
    	}
    }

    & > img {
      display: block;
      // background: $justfix-blue-darkest;
      height: auto;

      border-radius: 100%;
      margin: 0 auto 50px;

      @extend .col-md-4;
      @extend .col-sm-6;
      @extend .col-xs-6;
      @include shift($n-columns: 1);

      @media (max-width: $screen-md-min) {
      	float: none;
      	padding: 0px;
      	@include shift($n-columns: 0);

      	margin: 0 auto 20px;
      }
    }

    .director-text {
    	// float: right;
			text-align: left;

    	@extend .col-md-6;
    	@include shift($n-columns: 0.5);

    	@media (max-width: $screen-md-min) {
    		text-align: center;
      	@include shift($n-columns: 0);

      	margin: 0 auto 50px;
      }

	    & > h4:first-of-type {
	      margin-bottom: 5px;
	    }

	    & > p {
	      font-size: 16px;
	      padding-left: 0px;
	      padding-right: 0px;
	      line-height: 1.3;
	    }
    }

    .social {
    	margin-top: 25px;
    }
  }
}