.team_members {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 45px;
}

.team_members--team {
  @extend .col-sm-4;

  &:nth-child(3n+1) {
    clear: both;
  }

  // This only does the 'right thing' when there are 5 team members
  &:nth-child(4) {
    @media (min-width: $screen-sm-min) {
      @extend .col-sm-offset-2;
    }
  }
}

.team_members--directors {
  @extend .col-sm-12;
}

.team_members-director_image_wrapper {
  @extend .col-sm-3;
  @extend .col-sm-offset-1;
  @extend .col-lg-2;
  @extend .col-lg-offset-2;
}

.team_members-director_text {
  @extend .col-sm-7;
  @extend .col-lg-6;
}

.team_members-image {
  display: block;
  max-width: 130px;
  height: auto;
  border-radius: 100%;
  margin: 0 auto 30px;
}

.team_members-name {
  margin-bottom: 10px;
}

.team_members-director {
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.team_members-description {
  font-size: 16px;
  line-height: 1.4;
}

.team_members-description-show_read_more {
  outline: none;

  &:after {
    content: "Read more";
    position: relative;
    color: $justfix-blue;
  }
}

.team_members-description--team {
  padding: 0 10px;
}

.team_members-social {
  margin: 20px 0 30px;
}

.baker {
  & .container {

    & > * {
      vertical-align: middle;
      @include fill-parent;

      h3 { text-align: center; }
    }

    // desktop
    @media (min-width: $screen-sm-min) {
      @include row(table);
      width: 75%;

      & > * {
        @include span-columns(6);
      }

      h3 { text-align: left; }
    }
  }

  .baker-thanks {
    h3 {
      margin: 0 auto;
      width: 80%;
      line-height: 1.3;
      font-weight: $text-normal;
    }
  }

  .baker-logo {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
