.team-container {

  @extend .row;

  .team-member {
    @extend .col-sm-6;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px;

    // nice, pretty rows
    &:nth-child(2n+1) {
      clear: both;
    }

    &:last-child {

    	@media (min-width: $screen-sm-min) {
	    	@include shift($n-columns: 3);
    	}
    }

    @media (min-width: $screen-sm-min) {
      padding-left: 45px;
      padding-right: 45px;
    }

    & > img {
      display: block;
      width: 50%;
      height: auto;

      border-radius: 100%;
      margin: 0 auto 30px;
    }

    & > h4:first-of-type {
      margin-bottom: 5px;
    }

    & > p {
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
      line-height: 1.4;
    }

    .social {
    	margin-top: 25px;
    }
  }
}

.baker {



  & .container {

    & > * {
      vertical-align: middle;
      @include fill-parent;

      h3 { text-align: center; }
    }

    // desktop
    @media (min-width: $screen-sm-min) {
      @include row(table);
      width: 75%;

      & > * {
        @include span-columns(6);
      }

      h3 { text-align: left; }
    }
  }

  .baker-thanks {
    h3 {
      margin: 0 auto;
      width: 80%;
      line-height: 1.3;
      font-weight: $text-normal;
    }
  }

  .baker-logo {
    img {
      display: block;
      margin: 0 auto;
    }
  }

}
