
<article contentful-entry="'content_type=teamPage'">
  <header class="container">
    <h1 class="center">{{$contentfulEntry.fields.title}}</h1>
  </header>

  <section>
    <div class="container">
      <div class="team-container">
        <div class="team-member" ng-repeat="member in $contentfulEntry.fields.teamMembers">
          <img ng-src="{{ member.fields.photo.fields.file.url }}" alt="{{member.fields.name}}" />
          <h4>{{member.fields.name}}</h4>
          <h4>{{member.fields.title}}</h4>
          <div class="social">
          	<span ng-repeat="link in member.fields.links" class="btn btn-primary btn-icon" ng-class="{'one': mem}">
              <a ng-href="{{link.url}}" target="_blank">
          		    <i class="glyphicon" ng-class="'glyphicon-' + link.type"></i>
              </a>
          	</span>
          </div>
          <p>{{member.fields.description}}</p>
        </div>
      </div>
    </div>
  </section>

	<section>
		<div class="container">
			<h3 class="center">Many thanks to our other contributors!</h3>
			<p class="contributor" ng-repeat="contributor in $contentfulEntry.fields.contributors">
				<a ng-if="contributor.fields.link" ng-href="{{contributor.fields.link}}" target="_blank">{{contributor.fields.name}}</a>
				<span ng-if="!contributor.fields.link">{{contributor.fields.name}}</span>
			</p>
		</div>
	</section>

  <div class="clearfix"></div>

  <section class="alt milestones no-margin-bottom">
    <div class="container" ng-bind-html="$contentfulEntry.fields.milestones | markdown">
    </div>
    <div class="logos container">
			<span
				class="logo"
				ng-repeat="sponsor in $contentfulEntry.fields.sponsorOrganizations track by $index">
				<a ng-href="{{sponsor.fields.link}}" target="_blank">
					<div
						class="background-image"
						ng-style="{'background-image': 'url(' + sponsor.fields.logo.fields.file.url + ')'}">
					</div> 
				</a>
			</span>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="banner">
  	<a ui-sref="mission">
			<div class="container">
				<div class="pull-left">
					<h4>Want to know more?</h4>
					<h2 class="white">Read Our Mission.</h2>
				</div>
				<div class="pull-right">
					<span class="glyphicon glyphicon-chevron-right white"></span>
				</div>
			</div>
		</a>
  </section>

</article>
